@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<!-- 圖表位置 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<canvas id="myChart" width="100" height="50">
</canvas>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<p>Use this area to provide additional information.</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var json= @Html.Raw(ViewBag.json);

    console.log(json)



    //var count = {
    //  "縣市":"數量"
    //}
    //console.log(list.length);
    //for (int i = 0; i < list.length; i++) {
    //    console.log(list[i].確定病名);
    //}


    //data.forEach(function (case) {
    //    if (case ["縣市"] in count){
    //        count[case ["縣市"]] += 1;
    //    }
    //    // dosomething;
    //});

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: []
            datasets: [{
                label: '完成人數',
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>